# =====================================
# VARIABLES DE ENTORNO Y SEGURIDAD
# =====================================
.env
*.key
*.pem

# =====================================
# ENTORNOS VIRTUALES
# =====================================
venv/
.venv/
env/

# =====================================
# CACHE Y TEMPORALES DE PYTHON
# =====================================
__pycache__/
*.py[cod]
.pytest_cache/

# =====================================
# NOTEBOOKS
# =====================================
.ipynb_checkpoints/

# =====================================
# CONFIGURACIÓN DE EDITORES Y SISTEMA
# =====================================
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# =====================================
# PERSISTENCIA LOCAL DE CHROMADB
# =====================================
chroma/
chromadb/

# Streamlit
.streamlit/secrets.toml
